header{
    background-color: red;
    margin:0;
    padding:4rem;
    font-size:2rem;
    font-weight:bold;
    text-align: center;
}

nav{
    background-color:blue;
    margin-top: 3px;
    padding:1rem;
    font-size:2rem;
    text-align: center;
}

aside{
    background-color:yellow;
    width: 200px;
    height: 400px;
    text-align: center;
    margin-top:2px;
    float: left;
}

.aside{
    padding-top:10rem;
    font-size:2rem;
}

main{
    background-color:grey;
    height:400px;
    margin-top:2px;
    margin-left: 2px;
    text-align: center;
    font-size:2rem;
}

.Clearfix{
    clear: both;
}

footer{
  background-color:black;
  padding: 2rem;
  color:white;
  text-align:center;
  font-size:2rem;
  margin-top:2px;
}



