header{
    background-color: red;
    margin:0;
    padding:4rem;
    font-size:2rem;
    font-weight:bold;
    text-align: center;
}

nav{
    background-color:blue;
    margin-top: 3px;
    padding:1rem;
    font-size:2rem;
    text-align: center;
}

aside{
    background-color:yellow;
    width: 200px;
    height: 400px;
    text-align: center;
}

.aside{
    padding-top:10rem;
    font-size:2rem;
}



